.lan-page{
  height:100vh!important;
  background-color:#f6f9ff;
}

.nopadding{
  padding-right: 0!important; 
  padding-left: 0!important;
 }

 .barra-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-w {
  width: 100%;
}


.btnn{
  cursor: pointer;
}

.today-c{
  color:rgb(105, 105, 105)
}

.bigger-font{
  font-size:3em
}


.unit-t{
  vertical-align: top;
}